.ipynb_checkpoints
Acertos_ParametrosTRI_Nota/
Dados Limpos/
enem_parquet/
arquivos/
.venv/ 
.DS_Store
data/
/__pycache__
venv/
RN/__pycache__/src.cpython-312.pyc
RN/__pycache__/src.cpython-313.pyc
DC E RF/__pycache__/Pre_Processor_DT_RF.cpython-312.pyc
DC E RF/__pycache__/src.cpython-312.pyc
DC E RF/__pycache__/src.cpython-313.pyc
