.ipynb_checkpoints
Acertos_ParametrosTRI_Nota/
Dados Limpos/
enem_parquet/
arquivos/
.venv/ 
.DS_Store
data/
/__pycache__
venv/
RN/__pycache__/src.cpython-312.pyc
RN/__pycache__/src.cpython-313.pyc
DC E RF/__pycache__/Pre_Processor_DT_RF.cpython-312.pyc
DC E RF/__pycache__/src.cpython-312.pyc
DC E RF/__pycache__/src.cpython-313.pyc
SVM/__pycache__/src_SVM.cpython-312.pyc
RN/__pycache__/src_RN.cpython-312.pyc
DC E RF/__pycache__/src_RF_DT.cpython-311.pyc
SVM/__pycache__/src_SVM.cpython-311.pyc
DC E RF/__pycache__/src_RF_DT.cpython-312.pyc
ml_utils/__pycache__/__init__.cpython-312.pyc
ml_utils/__pycache__/config.cpython-312.pyc
ml_utils/__pycache__/src.cpython-312.pyc
Notebooks Decision Tree Random Forest/__pycache__/src_RF_DT.cpython-312.pyc
Notebooks Redes Neurais/__pycache__/src.cpython-311.pyc
Notebooks Redes Neurais/__pycache__/src_RN.cpython-312.pyc
RN/__pycache__/src.cpython-311.pyc
RN/__pycache__/src.cpython-311.pyc
RN/__pycache__/src_RN.cpython-311.pyc
ml_utils.egg-info/
*.pyc
ml_utils/config.py
ml_utils/config.py
*.parquet
